
<!-- base.html handles basic page structure -->
<!-- Note that the jinja2 template engine will replace -->
<!-- the curly brace blocks with corresponding values passed -->
<!-- put stuff you want on every page in here -->

<html>
    <head>
    {% if title %}
        <title> {{ title }} </title>
    {% else %}
       <title> Application Tiering</title>
    {% endif %}
    </head>

    <body>
        <div>
          Microblog:
          <a href="/index">Home</a>
          <a href="/login">Login</a>
        </div>
        <hr>
        <!-- if you've got cached flash messages process them, they then flush -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- this next line is a place holder where derived templates -->
        <!-- insert themselves. Note that blocks are given unqique names -->
        <!-- like "content" so that derived templates can reference them -->
        {% block content %}{% endblock %}
    </body>
</html>
